/* Añade estilos personalizados aquí */

.container {
    background-color: #f8f9fa; /* Fondo del contenedor */
    padding: 20px;
}

.card-deck {
    margin-top: 20px;
}

.card {
    border: 1px solid #ddd; /* Borde de las tarjetas */
    border-radius: 10px; /* Bordes redondeados de las tarjetas */
    margin-bottom: 20px;
}

.card-img-top {
    border-top-left-radius: 10px; /* Bordes redondeados de la imagen superior izquierda */
    border-top-right-radius: 10px; /* Bordes redondeados de la imagen superior derecha */
}

.card-title {
    color: #007bff; /* Color del título del libro */
}

.card-text {
    color: #555; /* Color del texto de descripción */
}

/* Puedes añadir más estilos personalizados según sea necesario */


