h1{
    justify-content: space-around;
    height: 100%;
    width: 80%;
}
    body {
        margin: 0;
        padding: 0;
        background-image: url('../images/libroslike.png'); /* Reemplaza 'ruta/de/la/imagen.jpg' con la ruta real de tu imagen */
        background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
        background-position: center; /* Centra la imagen en el fondo */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
    }
